<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Services Angular</title>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="https://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
</head>
<body>
    <div ng-app="app">
        <div>Formulario para añadir más objetos al servicio:</div>
        <div ng-controller="ContactController">
            <form class="well">
                <label>Nombre</label>
                <input type="text" nombre="nombre" ng-model="nuevocontacto.nombre" />
                <label>Email</label>
                <input type="text" nombre="email" ng-model="nuevocontacto.email" />
                <label>Teléfono</label>
                <input type="text" nombre="telefono" ng-model="nuevocontacto.telefono" />
                <br/>
                <input type="hidden" ng-model="nuevocontacto.id" />
                <input type="button" value="Save" ng-click="saveContact()" class="btn btn-primary" />
            </form>
            
            <div>Datos del servicio en el controlador principal:</div>
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Email</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="contacto in contactos">
                        <td>{{ contacto.nombre }}</td>
                        <td>{{ contacto.email }}</td>
                        <td>{{ contacto.telefono }}</td>
                        <td> <a href="javascript:void(0)" ng-click="edit(contacto.id)">Editar</a> | <a href="javascript:void(0)" ng-click="delete(contacto.id)">Borrar</a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
        <div>Eco de los datos del servicio en otro controlador, sin hacer watch():</div>
        <div ng-controller="CheckServiceController">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="contacto in contactos">
                            <td>{{ contacto.nombre }}</td>
                            <td>{{ contacto.email }}</td>
                            <td>{{ contacto.telefono }}</td>
                        </tr>
                    </tbody>
                </table>
        </div>

    </div>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>